
// fonts.
$main_font_family : 'Quicksand', sans-serif;

// colors.
$light_grey : #ececec;
$white : #ffffff;
$black : #000000;
$sky_blue : #4fa6ff;
$light_red : #f78686;

// general margin - paddings.
$auto : 0 auto;